
<div class="container">
  <%= render 'tabs' %>
  <%# tabs partialへ %>

  <% @articles.each do |article| %>
    <%# <%= link_to article_path(id: article.id) do %>
    <%= render 'article', article: article %>
    articleが勝手に渡されているわけではない
    <%# 左article: |article|,   右article: _articleパーシャルの中の(article) %>
  <% end %>
  <%= link_to new_article_path do%>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
      <%# i はアイコン  font awesomeの書き方%>
    </div>
  <% end %>
</div>